@font-face {
	font-family: 'AvenirNext';
	font-weight: 300;
	src: url('~@/assets/fonts/avenir-next-thin.woff') format('woff');
}

@font-face {
	font-family: 'AvenirNext';
	font-weight: 400;
	src: url('~@/assets/fonts/avenir-next-regular.woff') format('woff');
}

@font-face {
	font-family: 'AvenirNext';
	font-weight: 800;
	src: url('~@/assets/fonts/avenir-next-bold.woff') format('woff');
}
